{% extends "_layouts/site" %}
{# {% import '_macros/imager' as images %}
{% import '_macros/critical' as critical %} #}

{% block inlineCss %}
	{# <style type="text/css">
		{% set templateName = _self.getTemplateName() %}
		{{critical.css(templateName)}}
	</style> #}
{% endblock %}

{% block jsFiles %}
	'{{rev('js/app.js')}}'
{% endblock %}

{% block main %}
	<h1>Craft 3 - Ow yeah</h1>
	{% profile "images" %}
		{% set img = test.image[0] ?? null %}
		{% set transform = img.transformImage  %}
		{% if transform %}
			{# Different sizes #}
			<img src="{{ transform.placeholderSilhouette() }}"
				data-srcset="{{ transform.srcset() }}"
				data-sizes="100vw"
				alt="{{img.title}}"
				class="lazyload"
			/>
			{# WebP #}
			<picture>
					<source data-sizes="100vw" data-srcset="{{ transform.srcset() }}" type="image/webp">
					<img src="{{ transform.placeholderSilhouette()}}"
						data-srcset="{{ transform.srcset() }}"
						data-sizes="100vw"
						alt="{{ img.title }}"
						class="lazyload"
						height="auto"
						width="100%">
			</picture>
		{% endif %}
	{% endprofile %}
{% endblock %}
